<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      href="https://unpkg.com/@primer/css@^20.2.4/dist/primer.css"
      rel="stylesheet"
    /> -->
    <link type="text/css" rel="stylesheet" href="static/css/style.css" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body data-color-mode="dark" data-dark-theme="dark_dimmed">
    {% block content %} {% endblock %}
  </body>
</html>
